[Unit]
Description=noVNC Server
Requires=network.target
After=syslog.target network.target
[Service]
ExecStart=/usr/bin/novnc_server --key /etc/ssl/{{ tags.Name }}.{{ route53_domain }}/{{ tags.Name }}.{{ route53_domain }}.key --cert /etc/ssl/{{ tags.Name }}.{{ route53_domain }}/{{ tags.Name }}.{{ route53_domain }}.crt --vnc localhost:5902    
[Install]
WantedBy=multi-user.target